<div class="container" ng-controller="signupController as vm">
<div class="jumbotron">
	<h2>Welcome <small>You are the {{n}}th member to join!</small></h2>
	<hr class="colorgraph">
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
		<form role="form">
			<div class="form-group">
				<input type="text" class="form-control input-lg" placeholder="First name" tabindex="1" required ng-model="vm.firstname">
			</div>
			<div class="form-group">
				<input type="text" class="form-control input-lg" placeholder="Last name" tabindex="2" ng-model="vm.lastname">
			</div>
			<div class="form-group">
				<input type="email" class="form-control input-lg" placeholder="Email address" tabindex="3" required ng-model="vm.email">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" class="form-control input-lg" placeholder="Password" tabindex="4" required ng-model="vm.password">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" class="form-control input-lg" placeholder="Confirm password" tabindex="5" required ng-model="vm.confirmpwd">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-3" >					
					<span class="input-group" tabindex="7">
                        <input type="checkbox"  ng-model="vm.agreeToTerms" tabindex="6">I Agree</input>
					</span>
				</div>
				<div class="col-xs-8 col-sm-9 col-md-9">
					 Before <strong class="label label-info">signing up</strong>, you have to agree to our <a href="#">Terms and Conditions</a>
				</div>
			</div>
			
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<input type="submit" value="Sign up" class="btn btn-primary btn-block btn-lg" tabindex="7" ng-click="vm.signup()" ng-disabled="disabled">
				</div>
				<div class="col-xs-12 col-md-6"><a href="#/login" class="btn btn-success btn-block btn-lg" tabindex="8">Login with existing account</a></div>
			</div>
		</form>
	</div>
</div>
<div ng-show="vm.error" class="alert alert-danger">{{vm.errorMessage}}</div>
</div>
