<nav class="navbar navbar-inverse" ng-app="liquidAccessApp">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Weather news</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/">Home</a></li>
      <li><a href="#newsitem">Specific news</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	  <li><a href="#settings">Settings</a></li>
    </ul>
  </div>
</nav>
