<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Welcome <small>Scan QR code to transfer to a different device</small></h2>
            <hr class="colorgraph">
            <form role="form">
                <div class="form-group">
                    <input type="submit" value="Generate QR" class="btn btn-primary btn-block btn-lg" tabindex="7" ng-click="vm.refreshCode()"></input>
                </div>
                <div class="form-group">
                    <qrcode version="20" error-correction-level="M" data="{{vm.qrUrl}}" href="{{vm.qrUrl}}"></qrcode>
                </div>
                <div class="form-group">
                    <p>{{vm.qrUrl}}</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Close" class="btn btn-primary btn-block btn-lg" tabindex="7" ng-click="vm.close()">
                </div>
            </form>
        </div>
    </div>
</div>


