<div ng-include='"components/navbar/navbar.html"'></div>

<div class="jumbotron text-center">
  <h1>Just in</h1>
  <p>Real time weather news!</p>
</div>
<div class="container" ng-controller="homeController as vm">
  <div class="row">
	<div class="col-sm-4" ng-repeat="newsItem in vm.news">
		<a href="" ng-click="vm.showDetailedNews(newsItem.title)">
			<div>
				<h3>{{newsItem.title}}</h3>
				  <p>{{newsItem.subtitle}}</p>
				  <p>{{newsitem.shortContent}}</p>
			</div>
		</a>
	</div>
  </div>
</div>
